body {
  margin: 0;
  padding: 0;
}
.img {
  max-width: 768px;
  height: 386px;  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  border-radius: 12px;
  margin-bottom: 32px;
}
.img1 {
  background-image: url('/IMG_20140320_213555.jpg');
}
.img2 {
  background-image: url('/IMG_20140322_170012.jpg');
}
.header {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.contact {
  position: absolute;
  top: 30px;
  right: -50px;
  padding: 6px 73px;
  transform: rotate(45deg);
  background-color: red;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.sidebar-about h1 {
  font-size: 2rem;
}
@media (min-width: 48rem) {
  .sidebar {
    width: 16rem;
  }
  .content {
    max-width: 38rem;
    margin-left: 18rem;
    margin-right: 2rem;
  }
}
@media (min-width: 64rem)
  .content {
    margin-left: 18rem;
    margin-right: 2rem;
  }
}
