<section id="three" class="gallery">
	<header class="major" id="baan">
		{{ with .Site.Params.baan.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	</header>
	{{ range .Site.Params.baan.content }}<p>{{ . | markdownify }}</p>{{ end }}
	<div class="row">
		{{ range .Site.Params.baan.gallery }}
		<article class="6u 12u$(xsmall) work-item">
			<a href="{{ add "images/" .image | relURL }}" class="image fit thumb">
				<img src="{{ add "images/" .thumb | relURL }}" alt="" />
			</a>
			<h3>{{ .title }}</h3>
			<p>{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section>
