<!-- Three -->
<section id="four">
	{{ with .Site.Params.contact.title }}<h2>{{ . }}</h2>{{ end }}
	{{ with .Site.Params.contact.content }}<p>{{ . | markdownify }}</p>{{ end }}
	<div class="row" id="contact-form">
		{{if false}}
		<div class="8u 12u$(small)">
			<form action="//formspree.io/{{ .Site.Params.contact.email }}"
      method="POST">
				<div class="row uniform 50%">
					<input type="hidden" name="_subject" value="New email from your portfolio" />
					<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="{{ .Site.Params.contact.form.name }}" required/></div>
					<div class="6u$ 12u$(xsmall)"><input type="email" name="_replyto" name="email" id="email" placeholder="{{ .Site.Params.contact.form.email }}" required/></div>
					<div class="12u$"><textarea name="message" id="message" placeholder="{{ .Site.Params.contact.form.message }}" rows="4" required></textarea></div>
					<input type="text" name="_gotcha" style="display:none" />

					<ul class="actions">
						<li><input type="submit" value="{{ .Site.Params.contact.form.submit }}" /></li>
					</ul>
				</div>
			</form>
		</div>
		{{end}}
		<div class="4u$ 12u$(small)">
			<ul class="labeled-icons">
				{{ if isset .Site.Params.contact "address" }}
				<li>
					<h3 class="icon fa-home"><span class="label"></span></h3>
					{{ range .Site.Params.contact.address }}
						{{ . }}<br />
					{{ end}}
				</li>
				{{ end }}
				{{ if isset .Site.Params.contact "phone" }}
				<li>
					<h3 class="icon fa-mobile"><span class="label"></span></h3>
					{{ .Site.Params.contact.phone }}
				</li>
				{{ end }}
				{{ if isset .Site.Params.contact "email" }}
				<li>
					<h3 class="icon fa-envelope-o"><span class="label"></span></h3>
					<script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "4pXL@iC0Mot4iqC91CTCp.p1"
  key = "fe6ntLEYsP51huHWO2MzgZ9dXCQpiIkvqaFJ3GBNRywoxA8bclKV4UjTm0S7rD"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</section>
