{{ "<!-- Footer -->" | safeHTML }}
<footer id="footer">
	<ul class="icons">
		{{ with .Site.Params.sidebar.twitter }}
		<li><a href="//twitter.com/{{ . }}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.github }}
		<li><a href="//github.com/{{ . }}" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
		{{ end }}
		{{ with .Site.Params.sidebar.dribbble }}
		<li><a href="//dribbble.com/{{ . }}" target="_blank" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
		{{ end }}
		<li class="media-large"><a href="#gallery" class="icon fa-picture-o"><span class="label">Recente foto's</span></a></li>
		<li class="media-large"><a href="#baan" class="icon fa-cog"><span class="label">Baan</span></a></li>
		{{ with .Site.Params.contact.email }}
		<li><a href="#contact-form" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		{{ end }}
	</ul>

	<ul class="copyright">
		{{ range .Site.Params.sidebar.copyright }}
		<li>{{ . | markdownify }}</li>
		{{ end }}
	</ul>
</footer>

{{ "<!-- Scripts -->" | safeHTML }}
<script src="{{ "js/jquery.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.poptrox.min.js" | relURL }}"></script>
<script src="{{ "js/skel.min.js" | relURL }}"></script>
<script src="{{ "js/util.js" | relURL }}"></script>
<!--[if lte IE 8]><script src="{{ "js/ie/respond.min.js" | relURL }}"></script><![endif]-->
<script src="{{ "js/main.js" | relURL }}"></script>

{{ "<!-- Google Analytics -->" | safeHTML }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70339540-1', 'auto');
  ga('send', 'pageview');

</script>
