{{ "<!-- portfolio -->" | safeHTML }}
<section id="gallery" class="gallery">
	{{ with .Site.Params.portfolio.title }}<h2>{{ . }}</h2>{{ end }}
	<div class="row">
		{{ range .Site.Params.portfolio.gallery }}
		<article class="6u 12u$(xsmall) work-item">
			<a href="{{ add "images/" .image | relURL }}" class="image fit thumb">
				<img src="{{ add "images/" .thumb | relURL }}" alt="" />
			</a>
			<h3>{{ .title }}</h3>
			<p>{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section>
